<div id="{% block modal_id %}modal{% endblock %}"
     class="ds-modal-backdrop"
     x-data
     x-on:keydown.escape.window="$el.remove()">
  <div class="{% block modal_class %}ds-modal{% endblock %}"
       style="max-width:{% block modal_max_width %}620{% endblock %}px;
              padding:{% block modal_padding %}20px 24px{% endblock %};">
    {% block modal_close_btn %}
    <button type="button" class="ds-modal-close" onclick="closeModal(this)">
      <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor" stroke="none"><use href="#icon-close"></use></svg>
    </button>
    {% endblock %}
    {% block modal_inner %}{% endblock %}
  </div>
</div>
{% block extra_styles %}{% endblock %}
{% block extra_scripts %}{% endblock %}
